# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Temporary files
*tmp*

# Distribution / packaging
*.manifest
*.spec

# Pytest
.pytest_cache/